[submodule "librustzcash"]
	path = librustzcash
	url = https://github.com/hhanh01/pirate-librustzcash.git
[submodule "docs/themes/hugo-theme-learn"]
	path = docs/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "btcpayserver"]
	path = btcpayserver
	url = git@github.com:hhanh01/btcpayserver.git
